.side-slide {
    height: 100%;
    background: #dfdae4;
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    max-width: 200px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform .4s ease-out;
}

.side-slide.open {
    transform: translateX(0);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

.side-slide ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.side-slide li {
    margin: 0.5rem 0;
}

.side-slide a {
    color: grey;
    text-decoration: none;
}

.side-slide a:hover,
.side-slide a:active {
    color: orange;
}

@media (min-width: 769px) {
    .side-slide{
        display:none;
    }
}