.social-follow {
    background: #f2f2f7;
    padding: 0.2rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 0 0.1rem #cfc8d8;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.social-follow a {
    margin: 0 1rem;
    transition: 250ms;
    display: inline-block;
}

/* .social-follow__Github {
    color: #4078c0;
} */

.social-follow__LinkedIn {
    color: #0e76a8;
}

.social-follow__Facebook {
    color: #4968ad;
}

.social-follow__Google {
    color: #4285F4;
}

.social-follow a:hover {
    transform: translateY(-2px);
}

